NEXT_EMAIL=""
NEXT_PASSWORD=""
NEXT_JWT_SECRET="121212"

CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""

COUNTER_APIKEY=
COUNTER_WORKSPACE=
COUNTER_NAME=


NEXT_PUBLIC_BASE_URL="http://localhost:3000"   # replace with your base URL

EXTENDED_APIKEY = ""
EXTENDED_APIENDPOINT = " "

GITHUB_TOKEN=""
GITHUB_USERNAME=""

NODE_ENV="prod"
CLARITY_PROJECT_ID = '''