@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    .links{
        @apply underline relative;
        text-decoration-color: transparent;
    }
    .links::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -5px; 
        width: 100%;
        height: 2px; 
        background-color: black;
        transition: all 0.5s ease-in-out;
    }
    .master-font{
      font-family: "Passero One",Courier, monospace;
    }
    .primary-font{
      font-family: 'Markazi Text','Tinos','Times New Roman', Times, serif;
    }
}


@keyframes button-fly-alternate {
  0% {
    transform: translateX(0) scale(1) rotate(45deg);
    opacity: 1;
  }
  12.5% {
    transform: translateX(10px) scale(1.1) rotate(45deg);
    opacity: 0.9;
  }
  25% {
    transform: translateX(20px) scale(1.2) rotate(45deg);
    opacity: 0.8;
  }
  37.5% {
    transform: translateX(10px) scale(1.1) rotate(45deg);
    opacity: 0.5;
  }
  50% {
    transform: translateX(0) scale(1) rotate(45deg);
    opacity: 0;
  }
  62.5% {
    transform: translateX(0) scale(1) rotate(215deg);
    opacity: 0;
  }
  75% {
    transform: translateX(-10px) scale(1.1) rotate(215deg);
    opacity: 0.5;
  }
  87.5% {
    transform: translateX(-20px) scale(1.2) rotate(215deg);
    opacity: 0.8;
  }
  100% {
    transform: translateX(0) scale(1) rotate(215deg);
    opacity: 1;
  }
}

.animate-button-fly {
  animation: button-fly-alternate 2.4s ease-in-out infinite;
}
