@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .links {
    @apply underline relative;
    text-decoration-color: transparent;
  }

  .links::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 2px;
    background-color: black;
    transition: all 0.5s ease-in-out;
  }

  /* PT Sans */
  .title-font{
    font-family: "Allison", cursive;
  }

  .master-font {
    font-family: "League Spartan", 'Times New Roman';
  }

  .primary-font {
    font-family: "Markazi Text", serif;
  }
}

@keyframes button-fly-alternate {
  0% {
    transform: translateX(0) scale(1) rotate(45deg);
    opacity: 1;
  }

  12.5% {
    transform: translateX(10px) scale(1.1) rotate(45deg);
    opacity: 0.9;
  }

  25% {
    transform: translateX(20px) scale(1.2) rotate(45deg);
    opacity: 0.8;
  }

  37.5% {
    transform: translateX(10px) scale(1.1) rotate(45deg);
    opacity: 0.5;
  }

  50% {
    transform: translateX(0) scale(1) rotate(45deg);
    opacity: 0;
  }

  62.5% {
    transform: translateX(0) scale(1) rotate(215deg);
    opacity: 0;
  }

  75% {
    transform: translateX(-10px) scale(1.1) rotate(215deg);
    opacity: 0.5;
  }

  87.5% {
    transform: translateX(-20px) scale(1.2) rotate(215deg);
    opacity: 0.8;
  }

  100% {
    transform: translateX(0) scale(1) rotate(215deg);
    opacity: 1;
  }
}

.animate-button-fly {
  animation: button-fly-alternate 2.4s ease-in-out infinite;
}

/* Add these styles to your global CSS or module CSS file */
.animated-text {
  color: #000000;
  background-image: linear-gradient(45deg,
      #000000 30%,
      #191919 48%,
      #333333 12%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  animation: heroHighlight 5s ease infinite;
}

.animated-text-dark {
  background-image: linear-gradient(45deg,
      #ee9ca7 60%,
      #ffdde1 40%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes heroHighlight {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.animated-text {
  position: relative;
  /* Needed for positioning the ::after element */
}

.animated-text::after {
  content: '';
  position: absolute;
  left: 0;
  top: 45px;
  width: 0%;
  height: 3px;
  background-color: #dc2625;
  /* Underline color */
  animation: underline 2s linear infinite;
}

@keyframes underline {
  0% {
    width: 0%;
    opacity: 1;
  }

  50% {
    width: 100%;
    opacity: 1;
  }

  100% {
    width: 100%;
    opacity: 0;
  }
}


.highlight-red {
  border-radius: 1em 0 1em 0;
  background-image: linear-gradient(-100deg,
      rgba(255, 20, 0, 0.2),
      rgba(255, 20, 0, 0.7) 95%,
      rgba(255, 20, 0, 0.1));
}

.notion-dark .notion-page {
  --notion-font: inherit;
  --notion-gray: rgb(155, 155, 155);
  --notion-red: rgb(255, 115, 105);
  --notion-pink: rgb(226, 85, 161);
  --notion-blue: rgb(82, 156, 202);
  --notion-purple: rgb(154, 109, 215);
  --notion-teal: rgb(77, 171, 154);
  --notion-yellow: rgb(255, 220, 73);
  --notion-orange: rgb(255, 163, 68);
  --notion-brown: rgb(147, 114, 100);

  --notion-bg: #1d1d1c;
  --notion-text: #e5e5e5;
  --notion-code-bg: rgba(45, 45, 45);
}